.main-chat {
  display: flex;
  height: 100vh;
  background-color: #ecf1fa;
}

.main-chat .left {
  width: 350px;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0px 3px 8px rbga(0,0,0,0.07));
}

.main-chat .right {
  display: flex;
  flex: 1;
}