:root {
  /* color definition */
  --gray-dark: #383C49;
  --gray-light: #A2A2A5;
  --gray-medium: #717279;
  /* border-radius: defintion;; */
  --border-radius: 10px;
  --spacing-unit: 5px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
